html {font-size: 15px; /* px significa "pixels": o tamanho da fonte base é agora de 15 pixels */
    font-family: "Open Sans"; /* este deve ser o nome da fonte obtida no Google Fonts */
}

h1 {
    font-size: 50px;
    letter-spacing: 2px;
    text-align: center;
    margin: 0;
    padding: 20px 0;
    color: rgb(238, 130, 151);
    text-shadow: 1px 1px 1px rgb(5, 4, 0);
    
    
}

h2 {
    font-size: 30px;
    text-align: left;
    letter-spacing: 2px;
    color: rgb(238, 130, 151);
    text-shadow: 1px 1px 1px rgb(5, 4, 0);
}

li {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1px;
    text-shadow: 1px 1px 1px rgb(0, 0, 0);
    color:rgb(254, 255, 205)
}

p {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1px;
    color:rgb(114, 45, 204)
}


html {
    background-color: #2d86ce94;
}

body {
    width: 700px;
    margin: 0 auto;
    background-color: #58d6ec;
    padding: 0 100px 130px 100px;
    border: 5px solid #4995f893;
}

img {
    display: block;
    margin: 0 auto;
    width: 600px;
}

